{% extends 'defaults/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l8 offset-l2 offset-m4">
                <div class="center-align">
                    <div class="card">
                        <div class="card-content">
                            <h4>Login</h4>
                            <form method="post" action="{{ url_for('init.login') }}" id="login-form">
                                <div class="input-field">
                                    <i class="material-icons prefix icon-color" style="color:#0d47a1;">account_circle</i>
                                    {{ login_form.username }}
                                    <label for="{{ login_form.username.label.text }}">{{ login_form.username.label.text }}</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix" style="color:#0d47a1;">lock</i>
                                    {{ login_form.password }}
                                    <label for="{{ login_form.password.label.text }}">{{ login_form.password.label.text }}</label>
                                </div>
                                <button class="btn waves-effect waves-light light-blue darken-4" type="submit">
                                    <i class="material-icons left">input</i>Login</button>
                            </form>

                            <p id="notification-msg" style="padding-top: 10px;"></p>

                            <div class="preloader-wrapper big active hide" id="spinner-loading">
                                <div class="spinner-layer spinner-blue-only">
                                  <div class="circle-clipper left">
                                    <div class="circle"></div>
                                  </div><div class="gap-patch">
                                    <div class="circle"></div>
                                  </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                  </div>
                                </div>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#login-form").submit(function (event) {

            refreshMsg();

            event.preventDefault();

            var $form = $(this),
                url = $form.attr("action"),
                username = $form.find("input[name='username']").val(),
                password = $form.find("input[name='password']").val();

            if (!emptyInput(username, password)) {
                var post = $.post(url,
                        {
                            username: username,
                            password: password
                        }
                );

                post.done(function (data) {
                    toggleSpinner();
                    processData(data);
                }).fail(function () {
                    toggleSpinner();
                    alert("Failed!");
                });
            } else {
                showMsg("All fields are required", "error");
            }
        });

        $(document).ajaxStart(function () {
           toggleSpinner();
        });

        function toggleSpinner() {
            var spinner = $("#spinner-loading");
            if(spinner.hasClass("hide")) {
                spinner.removeClass("hide");
            } else {
                spinner.addClass("hide");
            }
        }

        function refreshMsg() {
            var element = $("#notification-msg");
            element.text("");
            element.removeClass();
        }

        function showMsg(text, status) {
            var msg = $("#notification-msg");
            msg.text(text);

            switch (status) {
                case "error":
                    msg.addClass("red-text");
                    break;
                case "success":
                    msg.addClass("green-text");
                    break;
                default:
                    msg.addClass("black-text");
            }
        }

        function emptyInput(username, password) {
            return username.trim() === "" || password.trim() == "";
        }

        function processData(data) {
            var status = data.status;
            showMsg(data.msg, status);

            if (status === "success") {
                window.location="{{ g.domain }}" + data.url;
            }
        }
    </script>
{% endblock %}
