{% extends 'defaults/dashboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block dashboard_content %}
    <div class="container">
        <form method="post" action="" id="sign-in-form">
            <div class="row" style="padding-top: 20px;">
                <h4>Visitor Information</h4>
                <div class="input-field col l2 s2">
                    {{ form.visitor_id }}
                    <label for="{{ form.visitor_id.label.text }}">{{ form.visitor_id.label.text }}</label>
                </div>
                <div class="input-field col l5 s5">
                    {{ form.first_name }}
                    <label for="{{ form.first_name.label.text }}">{{ form.first_name.label.text }}</label>
                </div>
                <div class="input-field col l5 s5">
                    {{ form.last_name }}
                    <label for="{{ form.last_name.label.text }}">{{ form.last_name.label.text }}</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col l3 s3">
                    {{ form.date_of_birth(class="datepicker") }}
                    <label for="{{ form.date_of_birth.label.text }}">{{ form.date_of_birth.label.text }}</label>
                </div>
                <div class="input-field col l5 s5">
                    {{ form.street_name }}
                    <label for="{{ form.street_name.label.text }}">{{ form.street_name.label.text }}</label>
                </div>
                <div class="input-field col l4 s4">
                    {{ form.city_state }}
                    <label for="{{ form.city_state.label.text }}">{{ form.city_state.label.text }}</label>
                </div>
            </div>

            <div class="row" style="padding-top: 20px;">
                <h4>Host Information</h4>
                <div class="input-field col l6 s6">
                    {{ form.host_id }}
                    <label for="{{ form.host_id.label.text }}">{{ form.host_id.label.text }}</label>
                </div>
                <div class="input-field col l6 s6">
                    {{ form.host_room }}
                    <label for="{{ form.host_room.label.text }}">{{ form.host_room.label.text }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col l4">
                    <button id="submit_signin" type="submit" class="waves-effect waves-light btn light-blue darken-4">Sign-In!</button>
                </div>
                <div class="col l4">
                    <button id="clear_form" type="button" class="waves-effect waves-light btn light-blue darken-4">Clear</button>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="verification-modal" class="modal bottom-sheet">
                <div class="modal-content">
                    <h5>Please Confirm:</h5>
                    <div class="row">
                        <div class="col l3 s3 m3">
                            <p id="confirm_0">Visitor ID: </p>
                        </div>
                        <div class="col l3 s3 m3">
                            <p id="confirm_1">First Name: </p>
                        </div>
                        <div class="col l3 s3 m3">
                            <p id="confirm_2">Last Name: </p>
                        </div>
                        <div class="col l3 s3 m3">
                            <p id="confirm_3">Date Of Birth: </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l3 s3 m3">
                            <p id="confirm_4">Street Name: </p>
                        </div>
                        <div class="col l3 s3 m3">
                            <p id="confirm_5">City & State: </p>
                        </div>
                        <div class="col l3 s3 m3">
                            <p id="confirm_6">Host ID: </p>
                        </div>
                        <div class="col l3 s3 m3">
                            <p id="confirm_7">Host Room: </p>
                        </div>
                    </div>
                    <button id="submit_signin_last" type="button" class="waves-effect waves-light btn light-blue darken-4 modal-action modal-close">Sign-In!</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $("#sign-in-form").submit(function (event) {
            event.preventDefault();

            // Get info from the form
            var $form = $(this),
                url = $form.attr("action"),
                visitor_id = $form.find("input[name='visitor_id']").val(),
                first_name = $form.find("input[name='first_name']").val(),
                last_name = $form.find("input[name='last_name']").val(),
                date_of_birth = $form.find("input[name='date_of_birth']").val(),
                street_name = $form.find("input[name='street_name']").val(),
                city_state = $form.find("input[name='city_state']").val(),
                host_id = $form.find("input[name='host_id']").val(),
                host_room = $form.find("input[name='host_room']").val();

            var isEmpty = emptyValues(visitor_id, first_name, last_name, date_of_birth,
                    street_name, city_state, host_id, host_room);
            if (!isEmpty) {

                appendVerificationText(visitor_id, first_name, last_name, date_of_birth, street_name,
                        city_state, host_id, host_room);
                $("#verification-modal").openModal();
                $("#submit_signin_last").click(function () {
                    var post = $.post(url,
                        {
                            visitor_id: visitor_id,
                            first_name: first_name,
                            last_name: last_name,
                            date_of_birth: date_of_birth,
                            street_name: street_name,
                            city_state: city_state,
                            host_id: host_id,
                            host_room: host_room
                        }
                    );
                    post.done(function (data) {
                        processData(data);
                    }).fail(function () {

                    });
                });

            } else {
                Materialize.toast("All fields are required", 1000, 'red-text');
            }

        });

        $('.modal-trigger').leanModal(
            {
                dismissible: true,
                opacity:.4
            }
        );

        $("#clear-btn").click(function () {
            clearForm();
        });

        function clearForm() {
            $("#sign-in-form")[0].reset();
        }

        // TODO:DS This can be moved to init.js
        function emptyValues() {
            for (var i = 0; i < arguments.length; i++)
                if (arguments[i].trim() == "") return true;
            return false;
        }

        function processData(data) {
            var status = data.status;
            showMsg(data.msg, status);

            if (status === "success")
                    clearForm();
        }

        function showMsg(text, status) {
            switch (status) {
                case "error":
                    Materialize.toast(text, 3000, 'red-text');
                    break;
                case "success":
                     Materialize.toast(text, 3000, 'green-text');
                     break;
                default:
                     Materialize.toast(text, 3000);
            }
        }

        function appendVerificationText() {
            for (var i = 0; i < arguments.length; i++)
                $("#confirm_" + i).append(arguments[i]);
        }
    </script>
{% endblock %}
